break-xs()
  @media( min-width $breakpoint-xs )
    block
break-sm()
  @media( min-width $breakpoint-sm )
    block
break-md()
  @media( min-width $breakpoint-md )
    block
break-lg()
  @media( min-width $breakpoint-lg )
    block
break-xl()
  @media( min-width $breakpoint-xl )
    block
break-at(size)
  if size is xs
    @media( min-width $breakpoint-xs )
      block
  if size is sm
    @media( min-width $breakpoint-sm )
      block
  if size is md
    @media( min-width $breakpoint-md )
      block
  if size is lg
    @media( min-width $breakpoint-lg )
      block
  if size is xl
    @media( min-width $breakpoint-xl )
      block
