.flex-header
  // min-height $header-height
  // max-height $header-height
  box-sizing border-box
  position relative
  flex-wrap nowrap
  flex-basis $header-height
  flex-direction row
  display flex
  z-index 4010
  order -1
  // flex 1 0 auto

